USE [master]
GO
/****** Object:  Database [AgendaAlumnos]    Script Date: 26/10/2017 11:41:19 ******/
CREATE DATABASE [AgendaAlumnos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgendaAlumnos', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AgendaAlumnos.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AgendaAlumnos_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AgendaAlumnos_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgendaAlumnos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgendaAlumnos]
GO
/****** Object:  User [ServiciosEscolares]    Script Date: 26/10/2017 11:41:19 ******/
CREATE USER [ServiciosEscolares] FOR LOGIN [ServiciosEscolares] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ServiciosEscolares]
GO
/****** Object:  Table [dbo].[AgendaAlumnos]    Script Date: 26/10/2017 11:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgendaAlumnos](
	[No_Control] [nvarchar](10) NOT NULL,
	[NombreCompleto] [nvarchar](50) NULL,
	[Domicilio] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Id_Carrera] [int] NULL,
 CONSTRAINT [PK_AgendaAlumnos] PRIMARY KEY CLUSTERED 
(
	[No_Control] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cat_Carreras]    Script Date: 26/10/2017 11:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Carreras](
	[Id_Carrera] [int] NOT NULL,
	[NombreCarrera] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Cat_Carreras] PRIMARY KEY CLUSTERED 
(
	[Id_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[AgendaAlumnos]  WITH CHECK ADD  CONSTRAINT [FK_AgendaAlumnos_Cat_Carreras] FOREIGN KEY([Id_Carrera])
REFERENCES [dbo].[Cat_Carreras] ([Id_Carrera])
GO
ALTER TABLE [dbo].[AgendaAlumnos] CHECK CONSTRAINT [FK_AgendaAlumnos_Cat_Carreras]
GO
USE [master]
GO
